<html>
<head>
  <title>california house</title>
</head>
<body>
 
    <h1>california house test</h1>
    <a href={{url_for('test')}} target="_blank"> aaa </a>
    {% for row in rows_deploy %}
    <p>test: 
       <b>{{row["longitude"]}}</b> | 
       {{row["latitude"]}} | 
        {{ row["housing_median_age"]}} | 
       {{row['total_rooms']}}	| 
       {{row["households"]}} |
        {{ row["median_income"]}} |
       {{row['median_house_value']}}	
    </p>
    {% endfor %}


    <h1>california house train</h1>
    <a href={{url_for('train')}} target="_blank"> bbb </a>
    {% for row in rows_status %}
    <p>train: 
        <b>{{row["Tlongitude"]}}</b> | 
       {{row["latitude"]}} | 
        {{ row["total_bedrooms"]}} | 
       {{row['population']}}	| 
       {{row["test_id"]}}
    </p>
    {% endfor %}
</body>
</html>